.chat {
  padding: 0.5em;
  overflow: auto;
  height: 100%;

  .message-rows {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	min-height: min-content;
	height: 100%;
	flex: 1 1;
  }

  .message-row {
	display: flex;
	margin-bottom: 1rem;
	min-height: min-content;
	position: relative;
	z-index: 10;
	flex: 0 0;
  }

  .chat-message {
	display: flex;
	align-items: flex-start;
	max-width: 90%;
	word-break: break-all;

	.sender-avatar {
	  margin-right: 1rem;

	  .image {
		border-radius: 100%;
		overflow: hidden;
		border: 1px solid #b5b6ba;
	  }

	}

	.sender-name {
	  font-weight: 600;
	  line-height: 1.1;
	  margin-bottom: 0.5rem;
	}

	.body {
	  min-width: 200px;
	  background-color: $grey-light;
	  color: $grey-light;
	  padding: 0.5rem;
	  border-radius: 10px;
	  border-top-left-radius: 0;
	  position: relative;

	  &:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 0;
		height: 0;
		border: 0.8em solid transparent;
		border-right-color: inherit;
		border-left: 0;
		border-top: 0;
		margin-top: 0;
		margin-left: -0.8em;
	  }

	  div {
		color: black;
	  }

	}

	.content {
	  margin: 0 0 0.5rem;
	  color: black;
	}

	.time {
	  position: absolute;
	  right: 0.5rem;
	  bottom: 0.25rem;
	  font-size: 0.6em;
	  line-height: 1.1;
	}

  }

  .loading-row {
	align-items: center;
	justify-content: center;

	.loading-icon:after {
	  -webkit-animation: spinAround 500ms infinite linear;
	  animation: spinAround 500ms infinite linear;
	  border-radius: 100%;
	  content: "";
	  display: block;
	  position: relative;
	  top: 0;
	  width: 2.5em;
	  height: 2.5em;
	  border: 0.25em solid $primary;
	  border-top-color: transparent;
	  border-right-color: transparent;
	}
  }

}