.message-form-container {
  background-color: $grey-lighter;
  max-width: 100%;

  .message-form {
    padding: 0.5em 0;
  }

  .editable-input-holder {
    display: flex;
    width: 100%;
    padding: 0.5em;
    background-color: white;
    border-radius: 3px;
  }

  .button.is-text {
    text-decoration: none;
    font-size: 1.1em;

    &:not(.text-normal) i {
      font-weight: 400;
    }

    &:hover i{
      color: black;
    }

  }

  .level {
    max-width: 100%;

    .message-form-item {
      flex: 1 1 auto;
      min-width: 0;
      outline: none;
      width: inherit;
    }

  }

  .level-item:not(.message-form-item) {
    margin: 0 0.5em;
  }

  .emoji-piker {
    width: 100%;
    border-right: 1px solid $grey-lighter;
    border-bottom: 1px solid $grey-lighter;

    .emoji-mart {
      width: 100%;

      .emoji-mart-anchors {
        padding: 0;
      }

      input[type="text"] {
        -moz-appearance: none;
        -webkit-appearance: none;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: inline-flex;
        font-size: 1rem;
        height: 2.25em;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        line-height: 1.5;
        padding-bottom: calc(0.375em - 1px);
        padding-top: calc(0.375em - 1px);
        position: relative;
        vertical-align: top;
        background-color: white;
        border-color: #dbdbdb;
        color: #363636;
        box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
        max-width: 100%;
        width: 100%;
        border-radius: 290486px;
        padding-left: 1em;
        padding-right: 1em;
      }

      .emoji-mart-anchor {
        cursor: pointer;
      }

    }

  }

}